// https://coolors.co/01161e-124559-598392-aec3b0-eff6e0
/* SCSS HEX */
$rich-black-fogra-29: #01161eff;
$midnight-green-eagle-green: #124559ff;
$teal-blue: #598392ff;
$cambridge-blue: #aec3b0ff;
$beige: #eff6e0ff;
